body {
  background-color: #0f0113;
  color: whitesmoke;
}

.home_parent_container {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-initial);
}

.hero_container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 25px;
}

.hero_container h1 {
  font-size: 3.3rem;
  font-weight: 500;
  
}


.hero_container h1 span:nth-child(2){
  display: inline-block;
  padding: 0px 20px;
  transform: translateY(6px);

}
.hero_container h1 span:nth-child(3){
  display: inline-block;
  padding: 0px 20px;
  transform: translateY(8px);

}

.hero_container h1 span:nth-child(5){
  display: inline-block;
  padding-left: 15px;
  transform: translateY(15px);

}

.hero_container h4 {
  display: inline-block;
  border: 1px solid #747475;
  background-color: #1b0f1f;
  color: #9d9a9d;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: lighter;
  font-size: 0.92rem;
  margin: 0 auto;
}

.hero_container h1 span {
  font-family: var(--font-final);
  font-style: italic;
  font-weight: 600;
}

.hero_container h3:first-of-type {
  color: #747475;
  font-weight: 400;
  margin: 30px 0;
}

.hero_container h3:last-child {
  background-color: #d11ce9;
  width: 40%;
  border-radius: 20px;
  padding: 10px 3px;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0 auto;
}

.hero_container h3 span {
  font-style: italic;
  font-weight: 500;
}

.home_mid_section,
.home_bottom_section {
  margin-top: 150px;
}

.home_mid_section div.mid_container {
  display: flex;
  max-width: 1062px;
  margin: 0 auto;
}

div.mid_container div.item {
  width: 33.3%;
  padding: 0 50px;
}

div.mid_container div.item p {
  line-height: 1.5;
  color: #747475;
}

div.mid_container div.icon_holder {
  border: 1px solid #d11ce9;
  background-color: #230429;
  height: 56px;
  width: 56px;
  border-radius: 12px;
  margin: 0 auto;
}

div.mid_container div.icon_holder img {
  transform: translateY(15px);
}

.home_bottom_section .bottom_container h4 {
  display: inline-block;
  border: 1px solid #747475;
  color: #9d9a9d;
  border-radius: 20px;
  padding: 5px 8px;
  font-weight: lighter;
  font-size: 0.92rem;
  margin: 0 auto;
}

.home_bottom_section h4:first-child {
  border: 1px solid #727272;
  display: inline-block;
  background-color: #1b0f1f;
  border-radius: 100px;
  padding: 10px;
  color: #727272;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}
.home_bottom_section h2 {
  font-size: 32px;
}
.home_bottom_section h2 span {
  font-family: var(--font-final);
  font-style: italic;
}

.home_bottom_section p {
  color: #727272;
  width: 38%;
  margin: 0 auto;
}






@media screen and (max-width: 765px) {
  .home_mid_section div.mid_container {
    flex-flow: column;
    align-items: center;
  }

  div.mid_container div.item {
    width: 65%;
    padding: 40px 0;
  }

  .list_container {
    max-width: 80%;
    transition: all 0.3 ease;
  }
  .list_container ul {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .list_container {
    max-width: 100%;
  }

  .timeline::after {
    height: 220px;
  }
}
