.nav_container {
  max-width: 1040px;
  padding: 15px 15px 130px;
  margin: 0 auto;
}

.nav_container ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(163, 151, 151);
  padding: 16px 20px;
}
.nav_container ul li:first-child {
  border-radius: 12px;
  border: 1px solid #727272;
  padding: 6px 15px;
}

.nav_container ul li:last-child {
  font-family: var(--font-initial);
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid #727272;
  align-self: center;
  padding: 10px 20px;
}
